<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.papyrus.model2doc.odt.emf.structure2pdf.generateDocument_PDF"
            name="Generate Document and PDF">
         <defaultHandler
               class="org.eclipse.papyrus.model2doc.odt.emf.structure2pdf.internal.handler.GenerateDocumentAndPDFHandler">
            <parameter
                  name="org.eclipse.papyrus.model2doc.odt.emf.structure2pdf.pdfVersion"
                  value="default">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.eclipse.papyrus.model2doc.odt.emf.structure2pdf.generateDocument_PDF_A1B"
            name="Generate Document and PDF A-1B">
         <defaultHandler
               class="org.eclipse.papyrus.model2doc.odt.emf.structure2pdf.internal.handler.GenerateDocumentAndPDFHandler">
            <parameter
                  name="org.eclipse.papyrus.model2doc.odt.emf.structure2pdf.pdfVersion"
                  value="A-1B">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="org.eclipse.papyrus.model2doc.odt.emf.structure2pdf.generateDocument_PDF_A2B"
            name="Generate Document and PDF A-2B">
         <defaultHandler
               class="org.eclipse.papyrus.model2doc.odt.emf.structure2pdf.internal.handler.GenerateDocumentAndPDFHandler">
            <parameter
                  name="org.eclipse.papyrus.model2doc.odt.emf.structure2pdf.pdfVersion"
                  value="A-2B">
            </parameter>
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               label="Generate All + PDF">
            <dynamic
                  class="org.eclipse.papyrus.model2doc.odt.emf.structure2pdf.internal.menu.Structure2PDFMenuContributionItem"
                  id="org.eclipse.papyrus.model2doc.odt.emf.structure2pdf.dynamic">
              <visibleWhen
                  checkEnabled="false">
               <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.papyrus.model2doc.emf.documentstructure.Document">
                        </instanceof>
                     </adapt>
                  </iterate>
               </and>
            </with>
            </visibleWhen>
            </dynamic>
         </menu>
      </menuContribution>
   </extension>

</plugin>
