<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated umldocumentstructuretemplate -->
      <factory
            uri="http://www.eclipse.org/papyrus/model2doc/uml/1.0.0/documentstructuretemplate"
            class="org.eclipse.papyrus.model2doc.uml.documentstructuretemplate.provider.UMLDocumentStructureTemplateItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated umldocumentstructuretemplate -->
      <extender
            uri="http://www.eclipse.org/papyrus/model2doc/emf/1.0.0/documentstructuretemplate"
            class="org.eclipse.papyrus.model2doc.uml.documentstructuretemplate.provider.UMLDocumentStructureTemplateItemProviderAdapterFactory$DocumentStructureTemplateChildCreationExtender"/>
   </extension>
   <extension
         point="org.eclipse.emf.edit.propertyEditorFactories">
      <factory
            class="org.eclipse.papyrus.model2doc.uml.documentstructuretemplate.edit.editors.factories.StereotypeTemplateStereotypeQualifiedNameEditorFactory"
            uri="editor://umldocumentstructuretemplate/AbstractStereotypePart/stereotypeQualifiedName/">
      </factory>
      <factory
            class="org.eclipse.papyrus.model2doc.uml.documentstructuretemplate.edit.editors.factories.StereotypePropertyTemplatePropertyNameEditorFactory"
            uri="editor://umldocumentstructuretemplate/StereotypePropertyTemplate/propertyName/">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            class="org.eclipse.papyrus.model2doc.uml.documentstructuretemplate.edit.internal.providers.CustomChildExtender"
            uri="http://www.eclipse.org/papyrus/model2doc/uml/1.0.0/documentstructuretemplate">
      </extender>
   </extension>
</plugin>
