<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2019 CEA LIST.

 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/

 SPDX-License-Identifier: EPL-2.0

 Contributors:
  Yupanqui Munoz (CEA LIST) yupanqui.munozjulho@cea.fr - Initial API and implementation
  Vincent Lorenzo (CEA LIST) vincent.lorenzo@cea.fr - Initial API and implementation
-->

<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.model2doc.documentview.modelexplorer.internal.handler.RenameDocumentHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <with
                  variable="select">
               <test
                     property="org.eclipse.papyrus.model2doc.documentview.modelexplorer.documentPropertyTester.isDocument"
                     value="true">
               </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.model2doc.documentview.modelexplorer.internal.handler.DocumentQuickFormatHandler"
            commandId="org.eclipse.papyrus.infra.ui.menu.commands.QuickFormattingUpperCaseCommand">
         <activeWhen>
            <with
                  variable="selection">
               <test
                     property="org.eclipse.papyrus.model2doc.documentview.modelexplorer.documentPropertyTester.isNameChangeable"
                     value="true">
               </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.model2doc.documentview.modelexplorer.internal.handler.DocumentQuickFormatHandler"
            commandId="org.eclipse.papyrus.infra.ui.menu.commands.QuickFormattingLowerCaseCommand">
         <activeWhen>
            <with
                  variable="selection">
               <test
                     property="org.eclipse.papyrus.model2doc.documentview.modelexplorer.documentPropertyTester.isDocument"
                     value="true">
               </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.model2doc.documentview.modelexplorer.internal.handler.DocumentQuickFormatHandler"
            commandId="org.eclipse.papyrus.infra.ui.menu.commands.QuickFormattingSwitchSpace2UnderscoreCommand">
         <activeWhen>
            <with
                  variable="selection">
               <test
                     property="org.eclipse.papyrus.model2doc.documentview.modelexplorer.documentPropertyTester.isNameChangeable"
                     value="true">
               </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.model2doc.documentview.modelexplorer.internal.handler.DocumentQuickFormatHandler"
            commandId="org.eclipse.papyrus.infra.ui.menu.commands.QuickFormattingCapitalizeFirstLetterCommand">
         <activeWhen>
            <with
                  variable="selection">
               <test
                     property="org.eclipse.papyrus.model2doc.documentview.modelexplorer.documentPropertyTester.isNameChangeable"
                     value="true">
               </test>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.papyrus.model2doc.documentview.modelexplorer.internal.handler.DocumentQuickFormatHandler"
            commandId="org.eclipse.papyrus.infra.ui.menu.commands.QuickFormattingRemoveSpaceCommand">
         <activeWhen>
            <with
                  variable="selection">
               <test
                     property="org.eclipse.papyrus.model2doc.documentview.modelexplorer.documentPropertyTester.isNameChangeable"
                     value="true">
               </test>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.model2doc.documentview.modelexplorer.internal.propertytester.DocumentPropertyTester"
            id="org.eclipse.papyrus.model2doc.documentview.modelexplorer.documentPropertyTester"
            namespace="org.eclipse.papyrus.model2doc.documentview.modelexplorer.documentPropertyTester"
            properties="isDocument"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>
   <extension
            point="org.eclipse.papyrus.infra.gmfdiag.extensionpoints.editors.DirectEditor">
         <DirectEditor
               contributor="CEA LIST"
               language="Document Direct Editor"
               objectToEdit="org.eclipse.papyrus.model2doc.documentview.Document">
            <popupeditor
                  editorConfiguration="org.eclipse.papyrus.model2doc.documentview.modelexplorer.internal.directeditor.configuration.DocumentDirectEditorConfiguration">
            </popupeditor>
            <Priority
                  name="Medium">
            </Priority>
         </DirectEditor>
      </extension>
      <extension
            point="org.eclipse.core.runtime.preferences">
         <initializer
               class="org.eclipse.papyrus.model2doc.documentview.modelexplorer.internal.directeditor.preference.DocumentDirectEditorPreferenceInitializer">
         </initializer>
      </extension>
</plugin>
