<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.architecture.models">
      <model
            path="resources/odt_sysml14_ieee_requirements.architecture">
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.papyrus.model2doc.integration.ieee.requirements.sysml14.odt.architecture.createIEEEStructureForSysML14"
            name="Create IEEE Requirements Structure For SysML 1.4">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <command
               commandId="org.eclipse.papyrus.model2doc.integration.ieee.requirements.sysml14.odt.architecture.createIEEEStructureForSysML14"
               icon="resources/icons/srs_document.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.model2doc.integration.ieee.requirements.sysml14.odt.architecture.internal.handlers.CreateIEEERequirementsStructureHandler"
            commandId="org.eclipse.papyrus.model2doc.integration.ieee.requirements.sysml14.odt.architecture.createIEEEStructureForSysML14">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <and>
                           <instanceof
                                 value="org.eclipse.uml2.uml.Package">
                           </instanceof>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.papyrus.model2doc.integration.ieee.requirements.sysml14.odt.architecture.propertyTester.isInsideSysML14AF"
                                 value="true">
                           </test>
                        </and>
                     </adapt>
                  </iterate>
               </and>
            </with></activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.model2doc.integration.ieee.requirements.sysml14.odt.architecture.internal.handlers.PropertyTester"
            id="org.eclipse.papyrus.model2doc.integration.ieee.requirements.sysml14.odt.architecture.propertyTester"
            namespace="org.eclipse.papyrus.model2doc.integration.ieee.requirements.sysml14.odt.architecture.propertyTester"
            properties="isInsideSysML14AF"
            type="org.eclipse.emf.ecore.EObject">
      </propertyTester>
   </extension>

</plugin>
