<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2019 CEA LIST.
 
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/
 
  SPDX-License-Identifier: EPL-2.0
 
  Contributors:
  Vincent Lorenzo (CEA LIST) vincent.lorenzo@cea.fr - Initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated documentstructure -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.papyrus.model2doc.documentstructure.presentation.DocumentStructureModelWizardID"
            name="%_UI_DocumentStructureModelWizard_label"
            class="org.eclipse.papyrus.model2doc.documentstructure.presentation.DocumentStructureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DocumentStructureModelFile.gif">
         <description>%_UI_DocumentStructureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated documentstructure -->
      <editor
            id="org.eclipse.papyrus.model2doc.documentstructure.presentation.DocumentStructureEditorID"
            name="%_UI_DocumentStructureEditor_label"
            icon="icons/full/obj16/DocumentStructureModelFile.gif"
            extensions="documentstructure"
            class="org.eclipse.papyrus.model2doc.documentstructure.presentation.DocumentStructureEditor"
            contributorClass="org.eclipse.papyrus.model2doc.documentstructure.presentation.DocumentStructureActionBarContributor">
      </editor>
   </extension>

</plugin>
