<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated umldocumentstructuretemplate -->
      <package
            uri="http://www.eclipse.org/papyrus/model2doc/uml/1.0.0/documentstructuretemplate"
            class="org.eclipse.papyrus.model2doc.uml.umldocumentstructuretemplate.UMLDocumentStructureTemplatePackage"
            genModel="model/umldocumentstructuretemplate.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.eclipse.papyrus.model2doc.uml.umldocumentstructuretemplate.impl.CustomUMLDocumentStructureTemplateFactory"
            uri="http://www.eclipse.org/papyrus/model2doc/uml/1.0.0/documentstructuretemplate">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://UML_DOCUMENT_STRUCTURE_TEMPLATE/"
            target="platform:/plugin/org.eclipse.papyrus.model2doc.uml.documentstructuretemplate/model/">
      </mapping>
   </extension>
   <extension
        point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
     <library
           description="UML Extension for DocumentStructureTemplate"
           name="Papyrus-Model2Doc - DocumentStructureTemplate UML Extension (Internal)"
           path="pathmap://UML_DOCUMENT_STRUCTURE_TEMPLATE/umldocumentstructuretemplate.uml"
           provider="Eclipse Modeling Project">
     </library>
   </extension>
</plugin>
