<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            category="org.eclipse.papyrus-model2doc"
            file="target/site/generated-eclipse-help/model2doc-main-toc.xml"
            primary="true">
      </toc>
          <toc
            category="org.eclipse.papyrus-model2doc"
            file="target/site/generated-eclipse-help/model2doc-devDoc-main-toc.xml"
            primary="false">
      </toc>
      <toc
            category="org.eclipse.papyrus-model2doc"
            file="target/site/generated-eclipse-help/model2doc-devDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            category="org.eclipse.papyrus-model2doc"
            file="target/site/generated-eclipse-help/model2doc-userDoc-main-toc.xml"
            primary="false">
      </toc>
      <toc
            category="org.eclipse.papyrus-model2doc"
            file="target/site/generated-eclipse-help/model2doc-userDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            category="org.eclipse.papyrus-model2doc"
            file="target/site/generated-eclipse-help/model2doc-papyrusUserDoc-main-toc.xml"
            primary="false">
      </toc>
      <toc
            category="org.eclipse.papyrus-model2doc"
            file="target/site/generated-eclipse-help/model2doc-papyrusUserDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            category="org.eclipse.papyrus-model2doc"
            file="target/site/generated-eclipse-help/model2doc-papyrusDevDoc-main-toc.xml"
            primary="false">
      </toc>
      <toc
            category="org.eclipse.papyrus-model2doc"
            file="target/site/generated-eclipse-help/model2doc-papyrusDevDoc-toc.xml"
            primary="false">
      </toc>
      <toc
            category="org.eclipse.papyrus-model2doc"
            file="target/site/generated-eclipse-help/IEEE_For_SysML-papyrusUserDoc-main-toc.xml"
            primary="false">
      </toc>
      <toc
            category="org.eclipse.papyrus-model2doc"
            file="target/site/generated-eclipse-help/IEEE_For_SysML-papyrusUserDoc-toc.xml"
            primary="false">
      </toc>
      </extension>

</plugin>
