<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Papyrus-Model2Doc - 2020-12" sequenceNumber="1609765314">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.18.0.v20201202-1800"/>
      <repository id="eclipse-2020-12" location="http://download.eclipse.org/releases/2020-12"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.junit.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.junit.framework" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.toolsmiths.feature.feature.group" version="0.0.0"/>
      <repository id="Papyrus-2020-12" location="https://download.eclipse.org/modeling/mdt/papyrus/updates/nightly/master/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.xmlbeans" version="3.1.0.v20200922-1359"/>
      <unit id="org.apache.commons.compress" version="1.19.0.v20200106-2343"/>
      <repository id="orbit" location="https://download.eclipse.org/tools/orbit/downloads/drops/S20201027182932/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.sysml14.feature.feature.group" version="2.0.0.202011091859"/>
      <repository id="Sysml" location="https://ci.eclipse.org/papyrus/job/papyrus-sysml14-master/lastSuccessfulBuild/artifact/releng/org.eclipse.papyrus.sysml14.p2/target/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.uml2.sdk.feature.group" version="5.5.1.v20200302-1312"/>
      <repository id="uml" location="https://download.eclipse.org/modeling/mdt/uml2/updates/5.5"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.25.0.v20201231-0738"/>
      <repository id="emf" location="https://download.eclipse.org/modeling/emf/emf/builds/milestone/S202101040220"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.13.0.202004160913"/>
      <repository id="gmfRuntime" location="https://download.eclipse.org/modeling/gmp/gmf-runtime/updates/releases/R202004160913"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.13.0.202004160913"/>
      <repository id="gmfNotation" location="https://download.eclipse.org/modeling/gmp/gmf-notation/updates/releases/R202004160913"/>
    </location>
  </locations>
</target>
