<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="TreeOutlinePage">
         <propertySection
               class="org.eclipse.papyrus.model2doc.integration.uml.documentstructuretemplate.properties.internal.UMLDocumentStructureTemplatePropertySection"
               filter="org.eclipse.papyrus.model2doc.integration.uml.documentstructuretemplate.properties.internal.UMLDocumentStructureTemplatePackageSectionFilter"
               id="org.eclipse.papyrus.model2doc.uml.documentstructuretemplate.properties.propertySection"
               tab="advanced">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
