<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2019 CEA LIST.
 
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/
 
  SPDX-License-Identifier: EPL-2.0
 
  Contributors:
  Vincent Lorenzo (CEA LIST) vincent.lorenzo@cea.fr - Initial API and implementation
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated documentstructuretemplate -->
      <package
            uri="http://www.eclipse.org/papyrus/model2doc/emf/1.0.0/documentstructuretemplate"
            class="org.eclipse.papyrus.model2doc.emf.documentstructuretemplate.DocumentStructureTemplatePackage"
            genModel="model/documentstructuretemplate.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://DOCUMENT_STRUCTURE_TEMPLATE/"
            target="platform:/plugin/org.eclipse.papyrus.model2doc.emf.documentstructuretemplate/model/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="The basic document structure template for EMF"
            iconpath="icons/EMF_DocumentStructureTemplate.gif"
            name="Papyrus-Model2Doc - DocumentStructureTemplate EMF (basis) (Internal)"
            path="pathmap://DOCUMENT_STRUCTURE_TEMPLATE/documentstructuretemplate.uml"
            provider="Eclipse Modeling Project">
      </library>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.model2doc.emf.documentstructuretemplate.internal.resource.DocumentStructureTemplateResourceFactory"
            type="pdst">
      </parser>
   </extension>
 
   

   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.eclipse.papyrus.model2doc.emf.documentstructuretemplate.internal.impl.CustomDocumentStructureTemplateFactoryImpl"
            uri="http://www.eclipse.org/papyrus/model2doc/emf/1.0.0/documentstructuretemplate">
      </factory>
   </extension>
</plugin>
