<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.model2doc.emf.template2structure.structuregenerator">
      <mapper
            class="org.eclipse.papyrus.model2doc.uml.template2structure.internal.mappers.CommentAsParagraphMapper"
            generatorId="TextDocumentStructureGenerator.default">
      </mapper>
       <mapper
            class="org.eclipse.papyrus.model2doc.uml.template2structure.internal.mappers.StereotypePartTemplateMapper"
            generatorId="TextDocumentStructureGenerator.default">
      </mapper>
       <mapper
            class="org.eclipse.papyrus.model2doc.uml.template2structure.internal.mappers.StereotypePropertyReferencePartTemplateMapper"
            generatorId="TextDocumentStructureGenerator.default">
      </mapper>
       <mapper
             class="org.eclipse.papyrus.model2doc.uml.template2structure.internal.mappers.StereotypePropertyReferenceTableViewMapper"
             generatorId="TextDocumentStructureGenerator.default">
       </mapper>
       <mapper
             class="org.eclipse.papyrus.model2doc.uml.template2structure.internal.mappers.StereotypePropertyAttributeAsParagraphMapper"
             generatorId="TextDocumentStructureGenerator.default">
       </mapper>
   </extension>

</plugin>
