<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="structuregenerator" name="structuregenerator" schema="schema/structuregenerator.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.papyrus.model2doc.emf.template2structure.command"
               label="Generate Document Structure"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.papyrus.model2doc.emf.template2structure.internal.handler.GenerateDocumentStructureHandler"
            commandId="org.eclipse.papyrus.model2doc.emf.template2structure.command">
         <activeWhen>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.emf.ecore.EObject">
                           <instanceof
                                 value="org.eclipse.papyrus.model2doc.emf.documentstructuretemplate.DocumentTemplate">
                           </instanceof>
                        </adapt>
                     </iterate>
                  </and>
               </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.papyrus.model2doc.emf.template2structure.command"
            name="Generate EMF Document Structure">
      </command>
   </extension>
   <extension
         point="org.eclipse.papyrus.model2doc.emf.template2structure.structuregenerator">
      <generator
            class="org.eclipse.papyrus.model2doc.emf.template2structure.internal.generator.DefaultTextDocumentStructureGenerator"
            id="TextDocumentStructureGenerator.default">
      </generator>
      <mapper
            class="org.eclipse.papyrus.model2doc.emf.template2structure.internal.mapping.EReferencePartTemplateMapper"
            generatorId="TextDocumentStructureGenerator.default">
      </mapper>
      <mapper
            class="org.eclipse.papyrus.model2doc.emf.template2structure.internal.mapping.BodyMapper"
            generatorId="TextDocumentStructureGenerator.default">
      </mapper>
      <mapper
            class="org.eclipse.papyrus.model2doc.emf.template2structure.internal.mapping.EClassPartTemplateMapper"
            generatorId="TextDocumentStructureGenerator.default">
      </mapper>
      <mapper
            class="org.eclipse.papyrus.model2doc.emf.template2structure.internal.mapping.TableOfContentsMapper"
            generatorId="TextDocumentStructureGenerator.default">
      </mapper>
      <mapper
            class="org.eclipse.papyrus.model2doc.emf.template2structure.internal.mapping.TextDocumentTemplateMapper"
            generatorId="TextDocumentStructureGenerator.default">
      </mapper>
   </extension>
</plugin>
