<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.model2doc.emf.template2structure.structuregenerator">
      <mapper
            class="org.eclipse.papyrus.model2doc.gmf.template2structure.internal.mapping.GMFDiagramViewMapper"
            generatorId="TextDocumentStructureGenerator.default">
      </mapper>
   </extension>

</plugin>
