<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2019 CEA LIST.
 
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/
 
  SPDX-License-Identifier: EPL-2.0
 
  Contributors:
  Vincent Lorenzo (CEA LIST) vincent.lorenzo@cea.fr - Initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated documentstructuretemplate -->
      <factory
            uri="http://www.eclipse.org/papyrus/model2doc/emf/1.0.0/documentstructuretemplate"
            class="org.eclipse.papyrus.model2doc.emf.documentstructuretemplate.provider.DocumentStructureTemplateItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
 <extension
         point="org.eclipse.emf.edit.propertyEditorFactories">
      <factory
            class="org.eclipse.papyrus.model2doc.emf.documentstructuretemplate.edit.editors.factories.EReferenceTemplateEReferenceEditorFactory"
            uri="editor://documentstructuretemplate/EReferenceTemplate/EReference/">
      </factory>
      <factory
            class="org.eclipse.papyrus.model2doc.emf.documentstructuretemplate.edit.editors.factories.EClassTemplateEClassEditorFactory"
            uri="editor://documentstructuretemplate/EClassTemplate/EClass/">
      </factory>
      <factory
            class="org.eclipse.papyrus.model2doc.emf.documentstructuretemplate.edit.editors.factories.EStructuralFeatureTemplateEStructuralFeatureEditorFactory"
            uri="editor://documentstructuretemplate/EStructuralFeatureTemplate/EStructuralFeature/">
      </factory>
      <factory
            class="org.eclipse.papyrus.model2doc.emf.documentstructuretemplate.edit.editors.factories.EAttributeTemplateEAttributeEditorFactory"
            uri="editor://documentstructuretemplate/EAttributeTemplate/EAttribute/">
      </factory>
   </extension>
 <extension
       point="org.eclipse.emf.edit.childCreationExtenders">
    <extender
          class="org.eclipse.papyrus.model2doc.emf.documentstructuretemplate.edit.childextenders.CustomExpressionChildCreationExtender"
          uri="http://www.eclipse.org/papyrus/model2doc/emf/1.0.0/documentstructuretemplate">
    </extender>
 </extension>
</plugin>
